.portfolio__container {
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 2.5rem;
}

.portfolio__item {
    display: flex;
    flex-direction: column; 
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    position: relative;
}

.portfolio__item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portfolio__item-image {
    border-radius: 1.5rem;
    display: flex;
    overflow: hidden;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.portfolio__item h3 {
    margin: 1.2rem 0 2rem;
    text-align: center;
}

.portfolio__item-cta {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
} 

.portfolio__item_techology{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    font-weight: 200;
    margin-bottom: 30px;
}
.portfolio__techonlogy-item{ 
    width: fit-content;
    padding: 5px 5px;
    color: var(--color-bg);
    top: 0;
    left: 0;
}

/* ============= MEDIA QUERIES (MEDIUM DEVICES) ============ */
/* @media screen and (max-width: 1024px) {
     .portfolio__container {
         grid-template-columns: 1fr 1fr;
         gap: 1.2rem;
     }
  } */
  
  /* ============= MEDIA QUERIES (SMALL DEVICES) ============ */
  @media screen and (max-width: 400px) {
    .portfolio__container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }