.container.contact__container {
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
}

.contact__options {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact__option {
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}

.contact__option:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
}

.contact__option-icon {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.contact__options a {
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
}
.modale {
    display: none;
}

.modale_active{
    min-width: 70%;
    min-height: 20%;
    border-radius: 10px;
    padding: 1.3rem;
    text-align: center;
    color: white;
    background: var(--color-bg-variant);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 10px;
}  

/* button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
} */

/*===================== FORM ==============*/
form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    position: relative;
}

input, textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-primary-variant);
    resize: none;
    color: var(--color-white);
}
.form__email-alert {
    display: none;
  
}
.form__email-alert-active {
    background: transparent;
    border: 2px solid var(--color-primary-variant);
    resize: none;
    color: red;
    width: 50%;
    margin:0 auto;
    border-radius: 0.5rem;
    text-align: center;
}
/* ============= MEDIA QUERIES (MEDIUM DEVICES) ============ */
@media screen and (max-width: 1024px) {
    .container.contact__container{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
 }
 
 /* ============= MEDIA QUERIES (SMALL DEVICES) ============ */
 @media screen and (max-width: 600px) {
    .container.contact__container{
        width: var(--container-width-sm);
    }
 }
 